body {
    margin: 0;
}
p, a, h1, h2, h3, h4, h5, h6, li {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}
/* NAVIGATION */
.navigation {
    padding-top: 2rem;
}

.navigation .nav-items li {
    list-style: none;
    color: #ffffff;
    display: inline-flex;
    margin-right: .8rem;
    text-transform: uppercase;
    font-weight: 700;
}

.navigation .nav-items li a {
    color: #ffffff;
}

.navigation .nav-items li a:hover {
    color: #f0f0f0;
    text-decoration: none;
}
/* HEADER */
#header h1 {
    font-size: 48px;
    font-weight: 300;
    letter-spacing: -2px;
    text-transform: uppercase;
    color: #ffffff;
}
#header p {
    color: #ffffff;
    font-weight: 100;
}
h2 {
    font-size: 30px;
}
p {
    font-size: 24px;
}
.bold {
    font-weight: 700;
}
#header {
    background-color: rgba(0, 75, 145, 0.6);
    background-image:  url('../images/landingheader.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 80vh;
}
#header .header-text {
    padding-top: 10vh;
}
#header .header-text p {
    margin-left: auto;
    margin-right: auto;
    width: 58vw;
}
